/* General Layout */
.home-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #283618; /* Dark Olive Green */
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1.5rem;
  color: #606c38; /* Olive Green */
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #bc6c25; /* Warm Orange */
  background-color: transparent;
  border: 2px solid #bc6c25;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(188, 108, 37, 0.03); /* Light orange on hover */
  transform: scale(1.03); /* Slight zoom effect */
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-content p {
    font-size: 1.25rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .home-content h1 {
    font-size: 2rem;
  }

  .home-content p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .home-content h1 {
    font-size: 1.5rem;
  }

  .home-content p {
    font-size: 0.875rem;
  }

  .btn {
    font-size: 0.85rem;
    padding: 7px 14px;
  }
}
